# Моды и профили MO2
launcher/logs
launcher/mods
launcher/profiles
launcher/overwrite

# Временные файлы лаунчера
launcher/Asto's Modpack Installer/.cashe/
launcher/Asto's Modpack Installer/logs

# Виртуальные окружения
**/.venv/
**/venv/
**/__pycache__/
**/*.pyc

# IDE (PyCharm, VSCode)
.idea/
.vscode/

# Архивы
*.zip
*.7z
